body {
	background-color: #343434;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
	font-size: 14px;
}
a {
  color: #00B7FF;
}
div.clear {
	clear: both;
}
form {
}
form fieldset {
	border: none;
	margin-left: 150px;
}
form fieldset li {
	display: block;
	width: 475px;
}
form fieldset li > label {
	text-align: right;
	width: 150px;
	font-weight: bold;
	float: left;
}
form fieldset li > div {
	float: right;
	padding-bottom: 5px;
}
form fieldset li > div.select {
	float: left;
	margin-left: 25px;
}
form fieldset li > div > input.input {
	width: 292px;
	height: 20px;
	margin-right: 2px;
}
form fieldset li > div > input, form fieldset li > div > textarea {
	outline: 0;
	border: 1px solid #b5b5b5;
}
form fieldset > input.submit {
	margin: auto;
}
header {
	width: 960px;
	min-height: 100px;
	margin: auto;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.3, #ADADAD), color-stop(0.6, #C6C6C6) );
}
header h1 {
	margin: 0;
	padding: 10px 0 0 10px;
}
#container {
	width: 960px;
	min-height: 300px;
	margin: auto;
	background-color: #EEE;
}
#container #content {
	padding: 20px;
}
footer {
	width: 960px;
	height: 50px;
	background: #535353;
	margin: auto;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

/** File Browser
 *  CSS
 */

#content textarea {
	height: 600px;
	width: 100%;
}